@page "/about"

<div id="lipsum">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus risus nec erat suscipit ultrices. Maecenas lobortis ac metus eu condimentum. Mauris suscipit purus sit amet augue ullamcorper porta. Proin luctus vel est sit amet scelerisque. Nullam egestas viverra lorem, facilisis congue arcu. Suspendisse elementum fringilla est volutpat mattis. Aliquam ut diam iaculis, porttitor odio quis, semper dui. Maecenas ut lacinia sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at aliquam dolor, a vestibulum sem. Praesent eu fringilla purus. Nullam semper diam vitae ex cursus, id ullamcorper nulla tempor. Suspendisse mattis nisi nisi, rhoncus ultrices justo iaculis vitae.
    </p>
    <p>
    Cras faucibus velit quis mattis interdum. Nunc in augue metus. Ut iaculis, tortor a finibus euismod, purus libero tempus dolor, quis rutrum nisi ex sed tortor. Suspendisse nisi diam, tristique finibus sem sit amet, dictum tincidunt lacus. Nullam euismod ipsum urna, eget venenatis enim iaculis at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget interdum massa. Suspendisse consectetur ex sem, eu vulputate leo tristique nec. Suspendisse quis sollicitudin felis. Proin scelerisque malesuada leo vestibulum rhoncus. In convallis vestibulum pellentesque. Nunc euismod volutpat felis, eget pretium ligula. Nulla facilisi. Donec lobortis dictum ex, at mollis sem iaculis vel.
    </p>
    <p>
    Nullam viverra lorem sodales, aliquam justo a, accumsan purus. Integer sit amet efficitur augue. Sed nec vestibulum tortor. Mauris tincidunt odio ac lorem luctus, et tempor justo sagittis. Sed hendrerit metus id purus viverra mattis. Sed pharetra blandit erat, non semper eros feugiat vitae. Nunc nisi dolor, porttitor in enim sed, venenatis volutpat lacus. Mauris vestibulum sapien eu erat mattis, fringilla varius mi tincidunt. Maecenas quis volutpat nisi. Suspendisse gravida tristique nisi non congue.
    </p>
    <p>
    Proin in nisi quam. Proin sollicitudin elit sed elit dapibus, vitae malesuada sapien mollis. Aenean venenatis augue eros, eu tincidunt justo luctus sit amet. In hac habitasse platea dictumst. Proin eget suscipit dolor. Nullam a consequat purus, eget iaculis quam. Mauris non arcu convallis, egestas dolor vel, tristique velit. Sed odio lorem, luctus non tortor non, tempor suscipit enim. Aenean vitae dolor consequat, tempor magna a, malesuada libero. Phasellus consequat metus ultrices, efficitur est in, rutrum ex.
    </p>
    <p>
    Suspendisse aliquet mi nec massa iaculis sodales. Morbi rutrum libero at est aliquam ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed iaculis mollis risus, non condimentum quam tempor id. Vestibulum aliquet elit vitae turpis egestas semper. Vestibulum venenatis posuere aliquet. Nullam vitae elementum purus, a commodo velit. Vestibulum id viverra orci. Maecenas ante augue, tincidunt ac dapibus ut, lacinia vel quam. Vestibulum posuere scelerisque leo in sodales. Integer faucibus laoreet congue. Phasellus eu nunc et elit tempor consectetur. Proin congue lacinia ipsum, sollicitudin eleifend lectus sodales non. Morbi tempus lectus eu ornare tempor.
    </p>
</div>